body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;

}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #ff5e57;
}

main div {
    background-color: #ff3f34;
    height: 350px;
    width: 350px;
    border-radius: 20px;
    text-align: center;
    font-size: 0.9em;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

main div button{
    height: 50px;
    width: 180px;
    border: solid 3px white;
    color: white;
    background-color: #ffffff00;
    border-radius: 15px;
    margin:  10px 0px;
    font-weight: 600;
    font-size: 1.1em;
} 




#bingo-section{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 50px;
}

.frase-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid #e8439351;
    align-items: center;
}

.frase-container:last-of-type {
    border-bottom: 0px;
}


.frase-cliente{
    padding: 14px;
    font-size: large;
    font-weight: 600;
    color: #2d3436;

}

.base-tickbox{
    height: 50px;
    width: 50px;
    border: solid 1px #e84393;
    border-radius: 10px;
    background-color: white;
}
